<!--
EJS(Embedded JavaScript  bunu node.js kullandığımızda mongodb, api gibi verileri html içinde göstermek)
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>😂😂 Blog.ejs</title>
    <!-- for language  -->
    <meta charset="utf-8" />

    <!-- Responsive Design -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Font Awesome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- External css -->
    <!-- NOT: `/css/blog.css` için  public dizininde olması gerekiyor -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="container">
    <!-- start codes -->
    <!-- Düzenleme Modalı -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="modal-form">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Blog Düzenle</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Kapat"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="modal-header" class="form-label">Başlık</label>
                <input type="text" class="form-control" id="modal-header" />
              </div>
              <div class="mb-3">
                <label for="modal-content" class="form-label">İçerik</label>
                <textarea
                  class="form-control"
                  id="modal-content"
                  rows="5"
                ></textarea>
                <small id="char-count" class="text-success"
                  >Kalan Harf Sayısı: 2000</small
                >
              </div>
              <div class="mb-3">
                <label for="modal-author" class="form-label">Yazar</label>
                <input
                  type="text"
                  class="form-control text-muted bg-light"
                  id="modal-author"
                  disabled
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="modal-tags" class="form-label">Etiketler</label>
                <input type="text" class="form-control" id="modal-tags" />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                İptal
              </button>
              <button type="submit" class="btn btn-primary">Güncelle</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <h1 class="text-center text-uppercase text-primary">Blog Sayfası</h1>
    <p><%= csrfToken %></p>

    <!-- Blog Form -->
    <!-- <form id="blog-form"> -->
    <!-- CSRF (Cross-Site Request Forgery):  action,POST için eklendi -->
    <!-- blog için express router(yönlendirmesini yapacağım bunun için server.ts gelen verilerden kullanacağım) -->
    <form
      id="blog-form"
      method="POST"
      class="was-validated"
      action="/blog"
      novalidate
    >
      <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" />

      <div class="mb-3">
        <label for="header" class="form-label">Başlık</label>
        <input type="text" class="form-control" id="header" required />
        <div class="valid-feedback">Geçerli!</div>
        <div class="invalid-feedback">Başlık boş bırakılamaz.</div>
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">İçerik</label>
        <textarea
          class="form-control"
          id="content"
          rows="5"
          required
          maxlength="2000"
        ></textarea>
        <div class="valid-feedback">Geçerli!</div>
        <div class="invalid-feedback">İçerik boş bırakılamaz.</div>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Resim Url</label>
        <input
          type="text"
          class="form-control text-muted bg-light"
          id="imageUrl"
        />
      </div>

      <div class="mb-3">
        <label for="tags" class="form-label">Etiketler</label>
        <input type="text" class="form-control" id="tags" required />
        <div class="valid-feedback">Geçerli!</div>
        <div class="invalid-feedback">Etiketler boş bırakılamaz.</div>
      </div>
      <div class="form-group mb-3">
        <input type="reset" value="Temizle" class="btn btn-danger" />
        <button type="submit" class="btn btn-primary">Gönder</button>
      </div>
    </form>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
      <button class="btn btn-danger" id="logoutBtn">Çıkış Yap</button>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
      <div
        id="successToast"
        class="toast align-items-center text-white bg-success border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body" id="toast-success-blog">
            Blog başarıyla eklendi!
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <!-- Error Toast -->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050">
      <div
        id="errorToast"
        class="toast align-items-center text-white bg-danger border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body" id="toast-error-blog">
            Bloglar getirilirken hata meydana geldi!
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <hr />
    <h2 class="text-primary">Blog</h2>
    <!-- table.table.table-hover.table-striped>thead>tr>(th{id})*5 -->
    <table id="blog-table" class="table table-hover table-striped">
      <!-- THEAD -->
      <thead>
        <tr>
          <th class="text-uppercase">id</th>
          <th class="text-uppercase">header</th>
          <th class="text-uppercase">content</th>
          <th class="text-uppercase">author</th>
          <th class="text-uppercase">tags</th>
          <th class="text-uppercase">views</th>
          <th class="text-uppercase">status</th>
          <th class="text-uppercase">created date</th>
          <th class="text-uppercase">Actions</th>
        </tr>
      </thead>

      <!-- TBODY -->
      <tbody></tbody>
    </table>
    <!-- end table -->

    <!-- end codes -->
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- external js -->
    <!-- NOT: `/public/js/styles.js` için  public dizininde olması gerekiyor -->
    <script src="/js/blog.js"></script>
  </body>
</html>
