:root {
    --primary-color: #007bff !important;
    --body-bgcolor: #3b5b5d !important;
    --body-color: #b7e8ec !important;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: #d51a1a;
    color: var(--body-color);
    background-color: var(--body-bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    transition: 1s all;
}

img:hover {
    opacity: .9;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.line-clamp5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}